@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Movie.Models
<h1> Movie Table</h1>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
        @foreach (var movieDetail in Model)
     {
        <tr>
            <th scope="row">@movieDetail.movieID</th>
            <td>@movieDetail.movieName</td>
            <td>@movieDetail.movieYear</td>
            <td>@movieDetail.movieGenre</td>
         </tr>
       }
        </tbody>
        </table>
