@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelView

<h1>Movie Details</h1>
<div id="PartialView">
    <partial name="_MovieListPartial" for="@Model.MovieViewList" />
</div>
<div id="PartialResultView">

</div>
<div>

    <form method="post" class="form-group" id="MovieSearch">
        
            Search Movie by its id :
            <input type="number" name="MovieID" class="form-control" />
       
        <label>
        </label>
        <br />
    </form>
    <input type="submit" value="submit" class="btn btn-primary" data-attr="Submit" />
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/search.js"></script>
