@model ModelView
@{
    ViewData["Title"] = "Update";
}

<div>
    <h1>Update Movie </h1>
    <form method="post" class="form-group" id="UpdateMovie">
        
            Movie ID :
            <input type="number" name="MovieID" class="form-control" />
        
        <br />
        <br />
        
            Movie Name :
            <input type="text" name="MovieName" class="form-control" />
       
        <br />
        <br />
        
            Year of Movie :
            <input type="number" name="MovieYear" class="form-control" />
        
        <br />
        <br />
    
            Movie Type :
            <input type="text" name="MovieType" class="form-control" />
        
        <label>
        </label>
        <br />
    </form>
    <input type="submit" value="Update" class="btn btn-primary" data-attr="Movie_Update" />
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/movieUpdate.js"></script>